{% set __deco = "-"*(9 + project_name | length) -%}
What is {{project_name}}?
{{__deco}}

...


---

> ***NOTE.*** *The project structure is based on a `copier` template available at https://github.com/projetmbc/copier-templates/tree/main/cb-py-dev.*

---
