project:
  version: 0.0.0-alpha

  acronym: "?"
  desc   : {{desc}}

  author: Christophe, BAL

  licenses:
    code  : gpl 3.0 only
    manual: cc by nc 4.0

  urls:
    home  : https://github.com/bc-tools/for-dev
    dev   : https://github.com/bc-tools/for-dev/tree/main/{{project_name}}
    issues: https://github.com/bc-tools/for-dev/issues

  require :
    - python3
