{% set __deco = "-"*(18 + project_name | length) -%}
The Python module {{project_name}}
{{__deco}}

This document is a complete tutorial showing all the available features.


**Table of contents**

::TOC::
