% -- TO REMOVE - START -- %

\documentclass[14pt]{memoir}

\usepackage{lybook}

\usepackage{../../../latex-config/singlechap}

\usepackage{pgfpages}
%\hypersetup{hidelinks} \pgfpagesuselayout{2 on 1}[a4paper,landscape]

\setlength{\columnseprule}{1.25pt}

\begin{document}

\buildfront
    {Cours de {{ level }} }
    { {{ author }}}
    { {{ '%Y-%m-%d' | strftime }} }
    { {{ level }} }
    { Lycée Monge (Chambéry - France) }

% -- TO REMOVE - END -- %


\setcounter{chapter}{0}  % For consecutive numbered chapters.

\chapter{ {{ chapter_title }} }

\section{Something}

   \input{content/something}

\end{document}
